<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Node example</title>
</head>
<body ng-controller="ApCtrl">
	<div class="container">
		<h1>Contact List App</h1>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Email</td>
					<td>Number</td>
					<td>Action</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" ng-model="contact.name"  class="form-control"></td>
					<td><input type="text" ng-model="contact.email"  class="form-control"></td>
					<td><input type="text" ng-model="contact.number"  class="form-control"></td>
					<td><button class="btn btn-primary" ng-click="addcontact()">Add Contact</button></td>
					<td><button class="btn btn-info" ng-click="update(contact._id)">Updatet</button></td>
				</tr>
				<tr ng-repeat="contact in contactlist">
					<td>{{contact.name}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.number}}</td>
					<td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
					<td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="controllers/controler.js"></script>
</body>
</html>